* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  padding-top: 15px;
  padding-bottom: 25px;
}
header {
  height: 150px;
  margin-bottom: 20px;
}

body {
  background-color: lightgray;
  background-size: auto;
}

form input {
  border-color: lightgray;
}
form input:not(:focus):invalid {
  border-color: lightgray;
}
form input:focus:invalid {
  border-color: lightgray !important;
}
form input.error-input:invalid {
  border-color: red;
}
button {
  margin-top: 15px;
  margin-bottom: 15px;
}

.ctn {
  background-color: #ffffff;
  border-radius: 1.5%;
  padding: 10px;
}

.sp {
  padding-top: 50px;
}
.obg {
  color: red;
}
.div-negative {
  color: red;
  font-size: small;
}

.input-negative {
  border-color: red;
}

footer {
  height: 100px;
  margin-top: 20px;
}
